$height: 1230px;
$width: 640px;

.textOverflow {
	white-space: nowrap;
	overflow: hidden;     
	text-overflow: ellipsis;
}

@mixin backgroundContain($url){
	background: url($url) no-repeat center;
    background-size: contain;

}


@keyframes shining-prize-bg {
	0% {
		@include backgroundContain('../image/fruit-active-bg.png');
	}
	50% {
		@include backgroundContain('../image/fruit-bg.png');
	}
}


body{
 	overflow: hidden;
 	padding: 0;
 	margin: 0;
 	font-size: 12px;
 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 	background: url(../image/background.png) #824e37 ;
    text-size-adjust: 100%;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;

 }
div {
    box-sizing: border-box;
}
button{
	border: 0;
	outline: 0;
}

ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}



.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.stage{
    //width: 720px;
    //height: 1280px;
    overflow: hidden;
    @include backgroundContain('../image/background.png');
    transform: translateY(0);
    transform-origin: 0 0;
    position: relative;
}
.navbar{

	width: 100%;
	box-shadow:0px 2px 5px 0px;
	background: rgba(0,0,0,0.20);
	height: 144px;
	padding-top: 1px;

	.ret-btn{
		float: left;
		margin-top: 78px;
		margin-left: 25px;
		width: 32px;
		height: 32px;
		
		@include backgroundContain('../image/ret-btn.png');

	}
	.navbar-title{
		font-size:38px;
		color:#ffffff;
		letter-spacing:0px;
		text-align:center;
		font-weight: normal;
		margin-top: 72px;
		margin-bottom: 19px;
	}
}

.history-section{
	width: 690px;
	margin: 0 auto;
	padding-top: 15px;
	.history-body{
		background: url(../image/history-bg.png);
		background-size: cover;
		width: 620px;
		height: 58;
		float: left;
		position: relative;

	}
	.sound-section{
		float: right;
		.sound-btn{
			@include backgroundContain('../image/sound-btn.png')
			width: 58px;
			height: 58px;
		}
		.sound-close-btn{
			background-image: url(../image/sound-close-btn.png);
		}
	}
	.history-list{
		
		&-main{
			white-space: nowrap;
			width: 640px;
		}

		&-wrap{
			margin: 9px 40px 0 40px;
			overflow: hidden;
			overflow-x: scroll;
		}
		
		&-body{

		}
		&-item{
			display: inline-block;
			margin-left: 18px;
			position: relative;
			height: 40px;
			width: 40px;
		}
		&-img{
			max-width:40px;
			max-height: 40px;
			position: absolute;
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	margin: auto;
		}

		&-left-btn{
			@include backgroundContain('../image/history-left-btn.png');
			width:40px;
			height:40px;
			margin: 0px;
			display: block;
			position: absolute;
			left: 10px;
			top: 9px;
		}

		&-right-btn{
			@include backgroundContain('../image/history-right-btn.png')
			width:40px;
			height:40px;
			margin: 0px;
			display: block;
			position: absolute;
			right: 10px;
			top: 9px;
		}
	}
}
.banker-section{
	width: 690px;
	margin: 0 auto;
	height: 88px;
	margin-top: 17px;
	background: #ab5d30;
	@include backgroundContain('../image/banker-bg.png');
	.banker-info{
		width: 440px;
		float: left;
	}
	.banker-title{
		width: 150px;
		height: 88px;
		float: left;
		margin-left: 30px;
		@include backgroundContain('../image/banker-text.png');
	}

	.banker-status{
		width: 220px;
		float: left;
		margin-left: 30px;
		margin-top: 4px;
		font-size:14px;
		color: #FFF;
		&-text{
			color: #ffbc33;
			margin-left: 10px;
		}
		

		.banker-up-btn{
			font-size:24px;
			color:#7c4a17;
			text-align:center;
			margin: 4px;
			/*width: 96px;
			height: 40px;*/
			/*background:#d88656;
			box-shadow:0px 2px 4px 0px #4b2009, inset 0px 1px 3px 0px #865236, inset 0px 17px 8px 0px rgba(250,200,172,0.50);
			border-radius:6px;*/
			background:rgba(255,214,70,0.91);
			border:2px solid #ffb745;
			box-shadow:-1px 2px 4px 1px rgba(0,0,0,0.50), inset 0px -15px 11px 0px #e0941d;
			border-radius:42px;
			width:150px;
			height:50px;
			/*width:96px;
			height:26px;*/
		}
		.banker-up-btn.disable {
			background:rgba(200,200,200,0.91);
			border:2px solid #eee;
			box-shadow:-1px 2px 4px 1px rgba(0,0,0,0.50), inset 0px -15px 11px 0px #eee;
			box-shadow: none;
			color: #999;
		}
	}
	.banker-current{
		text-align: right;
		padding-right: 20px;
		div {
			font-size: 20px;
			margin: 5px;
			color: #FFF;
		}
		
		.banker-list-btn{
			text-align: center;
			background: none;
			font-weight: bold;
			font-size:24px;
			color:#ffffff;
			margin:10px 5px 5px 0;
		}
	}

	.banker-list{
		width: 345px;
		float: right;
		&-title{
			width:18px;
			font-size: 16px;
			color: #FFF;
			float: left;
			line-height: 18px;
			
			
		}
		&-slide{
			border-left: 1px solid #FFF;
			height: 39px;
			margin: 26px 7px 0 7px;
			float: left;
			width: 4px;

		}
		
		&-body{
			width:300px;
			font-size: 16px;
			color: #FFF;
			float: left;
		}
		
		&-head{
			color: #000;
		}
		&-item{
			display: inline-block;
			
		}
		&-rank{
			width: 32px;
			text-align: center;
			@extend .textOverflow
		}
		&-name{
			width: 114px;
			margin-left:16px;
			text-align: center;
			@extend .textOverflow
		}
		&-value{
			width: 84px;
			text-align: center;
			margin-left: 10px;
			@extend .textOverflow
		}

		&-main{
			overflow: auto;
			height: 64px;
			li {
				display: block;
				white-space: nowrap;
				line-height: 18px;
			}
		}

	}
	
	
	
}
@keyframes table-bg-shining
{
	0%{
		opacity: 0;
	}
	49%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
.table-section-bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 0;
	@include backgroundContain('../image/table-bg-2.png');
	background-position: top;
	animation: table-bg-shining 1s infinite;
}
.table-section{
	position: relative;
	width: 690px;
	height: 810px;
	margin: 0 auto;
	//@include backgroundContain('../image/table-bg.png');
	background: url('../image/table-bg-1.png') no-repeat ;
	background-size: contain;
	
	.fruit-item{
		width: 100px;
	    height: 100px;
	    margin: 12px 0 0 13px;
	    display: block;
	    position: relative;
	    
	    float: left;
	    text-align: center;
	    vertical-align: middle;
	    &-img{
	    	max-width: 80px;
	    	max-height: 80px;
	    	border: 0;
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	right: 0;
	    	bottom: 0;
	    	margin: auto;
	    	z-index: 1;
	    	//@include backgroundContain('../image/fruit/watermelon-l.png');
	    }

	    



	}
	.fruit-item-shining-bg{
	    width: 160px;
	    position: absolute;
	    height: 160px;
	    left: -32px;
	    right: 0;
	    top: -7px;
	    bottom: 0;
	    margin: auto;
	        z-index: 0;
    }
	.fruit-item[data-fruit-id="1"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-1.png');
	    }
	.fruit-item[data-fruit-id="2"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-2.png');
	    }
	.fruit-item[data-fruit-id="3"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-3.png');
	    }
	.fruit-item[data-fruit-id="4"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-4.png');
	    }
	.fruit-item[data-fruit-id="5"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-5.png');
	    }
	.fruit-item[data-fruit-id="6"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-6.png');
	    }
	.fruit-item[data-fruit-id="7"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-7.png');
	    }
	.fruit-item[data-fruit-id="8"] {
	    	@include backgroundContain('../image/fruit/fruit-bg-8.png');
	    }

    .fruit-item[data-fruit-id="1"].active  .fruit-item-shining-bg{
    	@include backgroundContain('../image/fruit/fruit-bg-1-active.png');
    }
	.fruit-item[data-fruit-id="2"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-2-active.png');
	    }
	.fruit-item[data-fruit-id="3"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-3-active.png');
	    }
	.fruit-item[data-fruit-id="4"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-4-active.png');
	    }
	.fruit-item[data-fruit-id="5"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-5-active.png');
	    }
	.fruit-item[data-fruit-id="6"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-6-active.png');
	    }
	.fruit-item[data-fruit-id="7"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-7-active.png');
	    }
	.fruit-item[data-fruit-id="8"].active  .fruit-item-shining-bg{
	    	@include backgroundContain('../image/fruit/fruit-bg-8-active.png');
	    }

	.fruit-item.active{
		//transform: scale(1.5);
		//@include backgroundContain('../image/fruit-active-bg.png');
	}
	.fruit-item.active.shining{
		//animation: shining-prize-bg 1s infinite;
	}


	&-top{

	}
	&-middle{

	}

	&-left{
		width: 126px;
		float: left;
	}
	&-right{
		float: right;
		width: 126px;
	}

	&-bottom{

	}

	&-center{
		width: 438px;
	    float: left;
	    height: 526px;
	    margin-top: 14px;

	    .table-time{
	    	font-size: 34px;
	    	color: #FFF;
	    	font-weight: bold;
	    	text-align: center;
	    	margin-top:30px;
	    	margin-bottom: 15px;
	    	background-image: linear-gradient(-180deg, #E7CB6A 0%, #FDAE08 58%);;
		     -webkit-background-clip: text;
		     -webkit-text-fill-color: transparent;
	    }
	    .table-info{

   			margin: 0 auto;
    		width: 400px;

	    	.table-user-info{

	    		float: left;
	    		width: 250px;
	    		&-1, &-2{
	    			font-size: 22px;
	    			color: #FFF;
	    			width: 250px;
	    			margin-top: 5px;
	    			@extend .textOverflow
	    		}
	    		&-2{
	    			margin-top: 5px;
	    		}
	    		
	    	}
	    	.table-exchange{
	    		float: left;
	    		.exchange-coin-btn{
	    			width: 148px;
	    			height: 63px;
	    			@include backgroundContain('../image/exchange-coin-btn.png');
	    		}
	    	}
	    }
	    .table-stage{
	    	margin-left: 8px;
	    	margin-top: 10px;
	    	&-item:active {
	    		//background: #efa366;
	    		@include backgroundContain('../image/table-stage-item-active.png');
	    	}
	    	&-item.disable{
	    		@include backgroundContain('../image/table-stage-item-disable.png');
	    		.table-stage-item-times {
	    			color: #000;
	    		}
	    		.table-stage-item-num{
	    			color: #000;
	    			background:rgba(70,70,70,0.80);
					border-radius:85px;
	    		}
	    	}

	    	&-item{
	    		width: 204px;
	    		height: 82px;
	    		float: left;
	    		position: relative;
	    		margin: 4px;
	    		@include backgroundContain('../image/table-stage-item.png')
	    		//@include backgroundContain('../image/table-stage-item-bg.png')
	    		/*background: #f8be8f;
	    		border: 2px solid #958e89;
	    		border-radius: 10px;*/

    			&-icon-wrap{
    				width: 55px;
    				height: 55px;
    				margin: 12px 0 12px 12px;
    				position: relative;
    			}
    			&-icon{
    				max-width: 55px;
    				max-height: 55px;
    				position: absolute;
			    	top: 0;
			    	left: 0;
			    	right: 0;
			    	bottom: 0;
			    	margin: auto;
    			}
    			&-times{
    				position: absolute;
    				top: 14px;
    				left: 70px;
    				font-size: 22px;
    				color:#ff0a35;
    			}
    			&-num {
    				font-size: 18px;
    				position: absolute;
    				top: 17px;
    				right: 11px;
    				text-align: center;
    				color:#fff;
    				opacity:0.72;
					background:#ff0a35;
					border-radius:85px;
					width:83px;
					height:22px;
					line-height: 22px;
					@extend .textOverflow;
    			}

    			&-tip{
    				font-size: 24px;
    				font-family: "楷体";
    				position: absolute;
    				top: 41px;
    				right: 9px;
    				font-size:24px;
					color:#e45151;
					text-align:right;
					
    			}
    			&-tip-total {
    				position: absolute;
    				top: 45px;
    				right: 9px;
					text-align:right;
					font-size:18px;
					color:#33540d;
				}
    			&-knife{
    				animation-duration: .5s;
    				position: absolute;
    				margin-top: -60px;
    				margin-left: -25px;
    				&-img {
    					max-width: 50px;
    					max-height: 50px;
    				}
    				&-money{
    					text-align: center;
		    			font-size: 20px;
					    font-weight: bold;
					    color: #1f9c13;
    				}

    			}
	    	}
	    }
	}
}

.handle-section {
	width: 690px;
	height: 102px;
	margin: 0 auto;
	margin-top: 16px;
	.repeat-action{
		float: left;
		&-btn{
			
			width: 102px;
			height: 102px;
    		@include backgroundContain('../image/repeat-action-btn.png');

		}
		&-btn.disable{
			@include backgroundContain('../image/repeat-action-btn-disable.png');
		}
	}

	.knife-section{
		margin-left: 10px;
		height: 102px;
		float: left;
		//background:rgba(201,236,122,0.22);
		width: 570px;
		overflow: hidden;
    	white-space: nowrap;
		.knife-item{
			float: left;
			text-align: center;
			overflow: hidden;
			width: 114px;
			height: 102px;
			@include backgroundContain('../image/knife-bg.png');
			background-size: 70%;
			position: relative;
			&-img{

			}
			&-img-disable{
				display: none;
			}
			&-price{
				width:100%;
				color: #FFF;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				-webkit-text-stroke: 1px #eab528;
			}
			
		}
		.disable{
			filter: grayscale(1);
		}
		.active {
			@include backgroundContain('../image/knife-select-bg.png');
			background-size: 70%;
		}
	}
}
.bottom-section{
	width: 690px;
	height: 102px;
	margin: 0 auto;
	margin-top: 16px;
	position: relative;
	z-index: 6;
	.bottom-btn{
		position: relative;
		width: 220px;
		height:90px;
		font-size: 32px;
		color: #FFF;
		margin-left: 6px;
		@include backgroundContain('../image/bottom-btn.png');
	}
	.active{
		top: -6px;
		@include backgroundContain('../image/bottom-btn-active.png');
	}
}

.alert-fail{
	&-title {
		margin: 5px auto;
	    font-size:36px;
		color:#8e8d8d;
	    text-align: center;
	}
	&-subtitle{
		margin: 5px auto;
	    font-size:28px;
		color:#8e8d8d;
	}
	
}

.alert-success{
	&-title {
		margin: 5px auto;
	    font-size: 36px;
	    color: #ff1d96;
	    text-align: center;

	}
	&-subtitle{
		margin: 5px auto;
	    font-size:28px;
		color:#ab5d30;
	}
	
}
.prize-list-title{
	margin: 10px auto;
}
.alert-prize-list {
	font-size:28px;
	color:#ab5d30;
	border-top: 2px solid  #dab697;
	margin: 5px auto;
	padding-top: 5px;
	.prize-list-name{
		width: 244px;
		@extend .textOverflow;
		display: inline-block;

	}
	.prize-list-prize{
		width: 244px;
		@extend .textOverflow;
		display: inline-block;
	}
	.prize-list-item{
		line-height: 40px;
	}
}


.alert-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 4;
	animation-duration: .5s;
}
.alert-main{
	z-index: 100;
	position: absolute;
    animation-duration: .5s;
  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background:#e0bf9c;
	box-shadow:0px 45px 50px 0px rgba(0,0,0,0.50), inset 0px -1px 2px 5px rgba(255,255,255,0.40);
	border-radius:30px;
	width:639px;
	height: 683px;
	.alert-title{
		margin-top: 29px;
		font-size:38px;
		color:#ab5d30;
		text-align:center;
	}
	.alert-content{
		position: relative;
		font-size:34px;
		color:#3a3939;
		text-align:center;
		background:#ffe3c5;
		border:1px solid #ab5d30;
		box-shadow:inset 0px 0px 2px 4px #6d3313;
		border-radius:19px;
		width:615px;
		height:559px;
		margin: 0 auto;
		margin-top:24px ;
		overflow: auto;
	}
}

.audio-section{
	display: none;
}

.bottom-alert{
	animation-duration: .5s;
	background: #e0bf9c;
    box-shadow: inset 0px -1px 2px 5px rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 0px;
    padding-bottom: 100px;
    width: 690px;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}
.bottom-alert-content {
	background:#ffe3c5;
	border:1px solid #ab5d30;
	box-shadow:inset 0px 0px 2px 4px #6d3313;
	border-radius:19px;
	width:668px;
	height:613px;
	margin: 10px;
	overflow: auto;
}
.bottom-alert-inner{
	margin:10px;
	overflow: auto;
	width:648px;
	height:593px;
}

.bottom-alert-info{

	padding: 30px;
	h3{
		font-size:32px;
		color:#723714;
		margin: 15px;
	}
	p {
		font-size:20px;
		color:#723714;
		text-indent: 2em;
		margin: 5px;
	}
	&-tools{
		p {
			display: inline-block;
			width: 180px;
			margin: 3px;
			text-align: left;
		}
	}
	table {
		margin-left: 50px;
		width: 520px;
		border:1px solid #723714;
		text-align: center;
		th {
			background: #eee;
			padding: 10px 20px;
			border:1px solid #723714;
		}
		td{
			padding: 10px 20px;
			border:1px solid #723714;
		}
	}
	.rank-nav{
		text-align: center;
		a {
			font-size:28px;
			color: #FFF;
		}
		a.active {
			color:#ab5d30;
			text-decoration: underline;
		}
	}
	.rank-list{
		margin-top: 28px;
		li span{
			line-height: 24px;
			display: inline-block;
			text-align: left;
		}
		.rank-no{
			width: 50px;
			text-align: center;
			font-size:28px;
			color:#ab5d30;
			&-1 {
				width: 50px;
				vertical-align: middle;
				margin-top: -20px;
			}
		}
		.rank-avatar{
			width: 70px;
			border-radius: 50%;
			vertical-align: middle;
			margin: -5px 10px 20px 10px;
		}
		.rank-name{
			width: 226px;
			font-size:26px;
			color:#3f3f3f;
			@extend .textOverflow
		}
		.rank-level {
			width: 55px;
			&-icon {
				width: 53px;
				vertical-align: text-bottom;
			}
			margin: 0 10px 0 10px;
		}
		.rank-money {
			width: 130px;
			font-size:24px;
			color:#ab5d30;
			@extend .textOverflow
		}
	}
}


.banker-list-item-count{
	text-align: left;
	padding: 20px;
	border-bottom: 1px solid #000;
}
.banker-list-item-name{
	padding: 10px 0 0 20px;
	text-align: left;
	color: #ab5d30;
}
.banker-list-item-money{
	padding:  10px 0 0 20px;
	text-align: left;
	color: #ab5d30;
}
@keyframes loading-icon-circle
{
from { transform: rotateZ(0); }
to { transform: rotateZ(360deg); }
}
.server-busy{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.5);
	z-index: 101;
	.server-busy-tip{
		width: 100%;
		height:100px;
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    margin: auto;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 1.5em;
	}
	.loading-icon{
		width: 18%;
		animation: loading-icon-circle 5s linear infinite;
	}
}
.history-list{
	transform: translateX(0px);
}
[touch-scroll]{
	transform: translateY(0px);
	
}
[scroll-y]{
	padding-bottom: 100px;
}

.android {
	
	.table-section-center .table-time{
		background: none;
/*	     -webkit-background-clip: none;
*/	     -webkit-text-fill-color: #FFF;
	}
	.knife-section{

		.disable{
			filter:none;
			@include backgroundContain('../image/knife-bg-disable.png');
			.knife-item-price{
				color: #999;
				-webkit-text-stroke: 1px #5a5a5a;
			}
			.knife-item-img{
				display: none;
			}
			.knife-item-img-disable{
				display: inline-block;
			}
		}
	}

}


	
